# EditorConfig: https://editorconfig.org/

# top-most EditorConfig file
root = true

# All (Defaults)
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

# Git commit messages
[COMMIT_EDITMSG]
max_line_length = 75

# Dockerfile
[Dockerfile*]
indent_style = tab
indent_size = 8

# Shell Script
[*.sh]
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2
