name: Docker Image CI

on: [pull_request]

jobs:

  build:
 
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag docker.io/zephyrprojectrtos/zephyr-build:$(date +%s)
